<h1 class="welcome">Welcome to CSE Motors!</h1>
<%- messages() %>

<section id="own_today">
  <div class="own-today-text">
    <h2>DMC Delorean</h2>
    <h3>3 Cup holders</h3>
    <h3>Superman doors</h3>
    <h3>Fuzzy dice!</h3>
    <img
      class="own-today-img"
      src="/images/site/own_today.png"
      alt="Own Today"
    />
  </div>
  <div id="delorean">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean" />
  </div>
</section>

<div class="upg-rev-container">
  <section id="delorean_upgrades">
    <h2 id="delorean_up">Delorean Upgrades</h2>

    <figure>
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
      <figcaption>Flux Capacitor</figcaption>
    </figure>

    <figure>
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
      <figcaption>Flame Decals</figcaption>
    </figure>

    <figure>
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" />
      <figcaption>Bumper Sticker</figcaption>
    </figure>

    <figure>
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
      <figcaption>Hub Caps</figcaption>
    </figure>
  </section>

  <section id="delorean_reviews">
    <h2 id="delorean_rv">DMC Delorean Reviews</h2>

    <ul id="ul_review">
      <li>
        <h3 class="delorean_rvw">
          "So fast it's almost like traveling in time." (4/5)
        </h3>
      </li>
      <li><h3 class="delorean_rvw">"Coolest ride on the road." (4/5)</h3></li>
      <li><h3 class="delorean_rvw">"I'm feeling McFly!" (5/5)</h3></li>
      <li>
        <h3 class="delorean_rvw">
          "The most futuristic ride of our day." (4.5/5)
        </h3>
      </li>
      <li><h3 class="delorean_rvw">"80's livin and I love it!" (5/5)</h3></li>
    </ul>
  </section>
</div>
